.slider {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.slider__title {
    text-transform: uppercase;
    font-size: 1.375rem;
    line-height: 1.45;
    letter-spacing: 0.19rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1.375rem;
}

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.slider__arrow {
    position: absolute;
    top: -3.5rem;
    right: 0;
    transition: 0.3s;

    &:hover {
        scale: 0.9;

        & svg > path {
            fill: var(--grey-color);
        }

        & svg > circle {
            stroke: var(--grey-color);
        }
    }
}

.slider__arrow.swiper-button-prev {
    right: 4rem;
    top: -3.69rem;
    rotate: 180deg;
}